[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	email = 65927652+jfreitasunb@users.noreply.github.com
	name = José Antônio Oliveira de Freitas
