
Gondor/config/xmonad/xmonad.o

Gondor/config/xmonad/xmonad.hi

Gondor/config/xmonad/xmonad.errors

Gondor/config/xmonad/xmonad-x86_64-linux

Gondor/config/vim/view/~=\+.xmobarrc=

Gondor/config/vim/view/~=\+.xprofile=

Gondor/config/vim/view/~=\+GitHub_Repos=\+dot=\+Gondor=\+config=\+xmonad=\+xmonad.errors=

Gondor/config/vim/view/~=\+GitHub_Repos=\+dot=\+Gondor=\+config=\+xmonad=\+xmonad.hs=

Gondor/config/xmonad/prompt-history

Gondor/config/vim/view/~=\+.config=\+alacritty=\+alacritty.yml=

Gondor/config/vim/view/~=\+.config=\+eww=\+eww.xml=

Gondor/config/vim/view/~=\+GitHub_Repos=\+dot=\+Gondor=\+bin=\+key_map.sh=

Gondor/config/vim/view/~=\+GitHub_Repos=\+dot=\+Gondor=\+config=\+autostart=\+key_map.sh.desktop=

Gondor/config/vim/view/~=\+.local=\+share=\+DaVinciResolve=\+crash_archive.txt=

Gondor/config/vim/view/~=\+.local=\+share=\+DaVinciResolve=\+logs=\+ResolveDebug.txt=

Gondor/config/vim/view/~=\+Downloads=\+questionario-Álgebra 1 - Turma C-Álgebra 1 - Turma C-20210126-0940.xml=

Gondor/config/vim/view/~=\+GitHub_Repos=\+dot=\+Gondor=\+bin=\+gondor_bitbucket.sh=

Gondor/config/vim/view/

~=+*

Gondor/config/zsh/.zcompdump*

*.zshenv=

Gondor/config/vim/plugged/

Gondor/config/coc/extensions/node_modules

Gondor/config/coc/extensions/@yaegassy
Gondor/config/coc
Gondor/config/xournalpp/autosave
Gondor/config/xournalpp/metadata
Mordor/config/zsh/.zcompdump-mordor-5.8.1
Mordor/config/zsh/.zsh_history
Mordor/config/xmonad/xmonad-x86_64-linux
Mordor/config/zsh/.zcompdump
Mordor/config/zsh/.zcompdump-gondor-5.4.2
Mordor/config/zsh/.zcompdump-gondor-5.5.1
Mordor/config/zsh/.zcompdump-gondor-5.8
Mordor/config/zsh/.zcompdump-mordor-5.8
Gondor/config/nvim/plugin
Gondor/config/nvim/plugin/packer_compiled.lua
Mordor/config/xmonad/xmonad-x86_64-linux
Mordor/config/xmonad/xmonad.hi
Mordor/config/xmonad/xmonad.hi
Mordor/config/xmonad/xmonad.o
Mordor/config/xournalpp/metadata
Mordor/config/xournalpp/metadata/1635964319922741.metadata
Mordor/config/xournalpp/autosave
Mordor/config/xournalpp/metadata
Mordor/config/zsh/.zcompdump-mordor-5.9
Mordor/config/xournalpp/metadata
Mordor/config/xmonad/xmonad-x86_64-linux
Mordor/config/xmonad/xmonad.hi
Mordor/config/xmonad/xmonad.o
Mordor/config/xournalpp/metadata/1636036562376123.metadata
Mordor/config/xournalpp/metadata/1636035628545116.metadata
Mordor/config/xournalpp/metadata/1636033625649398.metadata
Mordor/config/xournalpp/metadata/1636032273088843.metadata
Mordor/config/xournalpp/metadata/1636032000841663.metadata
Mordor/config/xournalpp/metadata/1636031682983337.metadata
Mordor/config/xournalpp/metadata/1636031627078896.metadata
Mordor/config/xournalpp/metadata/1636031158852967.metadata
Mordor/config/xournalpp/metadata/1636030572094860.metadata
Mordor/config/xournalpp/metadata/1636029657103485.metadata
Mordor/config/xournalpp/metadata/1636028658463895.metadata
Mordor/config/xournalpp/metadata/1636028177089867.metadata
Mordor/config/xournalpp/metadata/1636027491028856.metadata
Mordor/config/xournalpp/metadata/1636026958331974.metadata
Mordor/config/xournalpp/metadata/1635975567447383.metadata
Mordor/config/xournalpp/metadata/1635966460709035.metadata
Mordor/config/xournalpp/metadata/1635965687268447.metadata
Mordor/config/xournalpp/metadata/1635965133585706.metadata
Mordor/config/xournalpp/metadata/1635964319922741.metadata
Mordor/config/xournalpp/metadata
*.hi
*.o
Mordor/config/xmonad/xmonad-x86_64-linux
*.hi
*.o
Mordor/config/xmonad/xmonad.o
Gondor/config/autostart/teams.desktop
Gondor/bin/v
Mordor/config/fish/fish_variables
Gondor/config/fish/fish_variables
Gondor/config/fish/fish_variables
Mordor/config/nvim/plugin/packer_compiled.lua
Mordor/config/zsh/themes
Mordor/config/zsh/plugins
Debian/config/xmonad/xmonad/
Debian/config/xmonad/xmonad-contrib/
Debian/config/xmonad/.stack-work/
Debian/config/xmonad/.stack-work/install/x86_64-linux-tinfo6/8bae59914e23ced4ea72bd8997d0d5f8d91fb8727153c3ffc507f619c123d9ac/9.2.5/bin/xmonad
