Manjaro/config/zsh/.zcompdump
Manjaro/config/zsh/.zcompdump
Manjaro/config/R/Rhistory
Manjaro/config/zsh/.zcompdump
Manjaro/config/zsh/.zcompdump
Manjaro/config/zsh/.zcompdump
Manjaro/config/zsh/.zcompcache/composer-pkgs
