
Gondor/config/xmonad/xmonad.o

Gondor/config/xmonad/xmonad.hi

Gondor/config/xmonad/xmonad.errors

Gondor/config/xmonad/xmonad-x86_64-linux

Gondor/config/vim/view/~=\+.xmobarrc=

Gondor/config/vim/view/~=\+.xprofile=

Gondor/config/vim/view/~=\+GitHub_Repos=\+dot=\+Gondor=\+config=\+xmonad=\+xmonad.errors=

Gondor/config/vim/view/~=\+GitHub_Repos=\+dot=\+Gondor=\+config=\+xmonad=\+xmonad.hs=

Gondor/config/xmonad/prompt-history

Gondor/config/vim/view/~=\+.config=\+alacritty=\+alacritty.yml=

Gondor/config/vim/view/~=\+.config=\+eww=\+eww.xml=

Gondor/config/vim/view/~=\+GitHub_Repos=\+dot=\+Gondor=\+bin=\+key_map.sh=

Gondor/config/vim/view/~=\+GitHub_Repos=\+dot=\+Gondor=\+config=\+autostart=\+key_map.sh.desktop=

Gondor/config/vim/view/~=\+.local=\+share=\+DaVinciResolve=\+crash_archive.txt=

Gondor/config/vim/view/~=\+.local=\+share=\+DaVinciResolve=\+logs=\+ResolveDebug.txt=

Gondor/config/vim/view/~=\+Downloads=\+questionario-Álgebra 1 - Turma C-Álgebra 1 - Turma C-20210126-0940.xml=

Gondor/config/vim/view/~=\+GitHub_Repos=\+dot=\+Gondor=\+bin=\+gondor_bitbucket.sh=

Gondor/config/vim/view/

~=+*

Gondor/config/zsh/.zcompdump*
