[Unit]
Description=Backup do HOME para HD externo

[Service]
Type=oneshot
ExecStart=/bin/bash /home/jfreitas/.bin/backup_TARDIS.sh

[Install]
WantedBy=multi-user.target
