[Unit]
Description=Backup de pasta

[Service]
Type=oneshot
ExecStart=/bin/bash /home/jfreitas/.bin/gondor_analise_dados.sh

[Install]
WantedBy=multi-user.target
