@import "macchiato.css";

* {
    border-radius: 4px;
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
}

#waybar {
    background: @surface0;
    color: @text;
    margin: 5px 5px;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.termite {
    background-color: @base;
}

window#waybar.chromium {
    background-color: @crust;
    border: none;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}

button:hover {
    background: inherit;
    box-shadow: inset 0 -3px @lavender;
}

#workspaces {
    border-radius: 1rem;
    margin: 5px;
    background-color: @sapphire;
    margin-left: 1rem;
}

#mode {
    background-color: @overlay0;
    border-bottom: 3px solid @lavender;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd {
    padding: 0 10px;
    margin: 4px 2px;
    color: @text;
}

/* Espaçamentos */
#window,
#workspaces {
    margin: 0 4px;
}
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background-color: @overlay1;
}

#battery {
    background-color: @surface1;
    color: @text;
}

#battery.charging,
#battery.plugged {
    background-color: @green;
    color: @crust;
}

#battery.critical:not(.charging) {
    background-color: @red;
    color: @crust;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: @crust;
        color: @red;
    }
}

label:focus {
    background-color: @crust;
}

#cpu {
    background-color: @green;
    color: @crust;
}

#memory {
    background-color: @mauve;
}

#disk {
    background-color: @peach;
}

#backlight {
    background-color: @sky;
}

#network {
    background-color: @blue;
}

#network.disconnected {
    background-color: @red;
}

#pulseaudio {
    background-color: @yellow;
    color: @crust;
}

#pulseaudio.muted {
    background-color: @surface2;
    color: @overlay1;
}

#wireplumber {
    background-color: @rosewater;
    color: @crust;
}

#wireplumber.muted {
    background-color: @red;
}

#custom-media {
    background-color: @teal;
    color: @crust;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: @green;
}

#custom-media.custom-vlc {
    background-color: @peach;
}

#temperature {
    background-color: @peach;
}

#temperature.critical {
    background-color: @red;
}

#tray {
    background-color: @sapphire;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @red;
}

#idle_inhibitor {
    background-color: @surface1;
}

#idle_inhibitor.activated {
    background-color: @subtext0;
    color: @crust;
}

#mpd {
    background-color: @teal;
    color: @crust;
}

#mpd.disconnected {
    background-color: @red;
}

#mpd.stopped {
    background-color: @surface2;
}

#mpd.paused {
    background-color: @green;
}

#language {
    background: @sky;
    color: @maroon;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: @green;
    color: @crust;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: @surface1;
}

#scratchpad {
    background: @surface0;
}

#scratchpad.empty {
    background-color: transparent;
}
