.thunar {
  background: none;
}
.thunar .sidebar {
  background: none;
}
.thunar toolbar {
  background: rgba(21,24,40,0.3);
}
window.thunar paned > scrolledwindow treeview.view {
  background: rgba(21,24,40,0.3);
}

@define-color accent_color #55dfc4;
@define-color accent_bg_color #16a085;
