[Unit]
Description=Backup do Dropbox para HD externo

[Service]
Type=oneshot
ExecStart=/bin/bash /home/jfreitas/.bin/gondor_bitbucket.sh

[Install]
WantedBy=multi-user.target