[Desktop Entry]
Name=Teclado
Exec=/bin/bash -c '/home/jfreitas/.local/bin/seta_keyboard_login_gnome.sh'
Terminal=false
Type=Application
StartupNotify=True
X-GNOME-Autostart-enabled=true
