[Unit]
Description=Backup do diretório etc

[Service]
Type=oneshot
ExecStart=/bin/bash /home/jfreitas/bin/gondor_root.sh

[Install]
WantedBy=default.target