[Unit]
Description=Sincronização entre Dropbox e OneDrive

[Service]
Type=oneshot
ExecStart=/bin/bash /home/jfreitas/.bin/sincroniza_dropbox-onedrive

[Install]
WantedBy=multi-user.target