/* Gerado dinamicamente por wallpaper-theme */
* {
    bg:          #171717;
    fg:          #d2c7bc;
    accent:      #ec7d13;
    accent-2:    #dee495;
    border:      #ec7d13;
    urgent:      #ea4544;
    selected-fg: #d2c7bc;
    entry-fg:    #dee495;
    prompt-fg:   #ec7d13;
    header:      #dee495;

    background-color: @bg;
}
